.git
.github
.env
.env.*
!.env.template
**/__pycache__
**/*.py[cod]
*.log
*.jsonl
.coverage*
.mypy_cache
.ruff_cache
.pytest_cache
build
dist
docker/data
docker/instances
docker/secrets
requirements-dev.txt
tests
venv
.venv
